on charger
    chmod 0664 /sys/class/power_supply/sec_auth/batt_heatmap
    chown system radio /sys/class/power_supply/sec_auth/batt_heatmap
    class_start heatmap-charger

on boot
    chmod 0664 /sys/class/power_supply/sec_auth/batt_heatmap
    chown system radio /sys/class/power_supply/sec_auth/batt_heatmap
    chown system system /efs/FactoryApp/heatmap
    chmod 0660 /efs/FactoryApp/heatmap

service heatmap /system/bin/heatmap
    class heatmap-charger core
    user system
    group system